weixin/__pycache__
weixin/*/__pycache__
.vscode
.test/*
build/*
.idea
config.ini
.idea/*
wb/polls/core/__pycache__/*
wb/polls/views/__pycache__/*
.pytest_cache
quickstock/.pytest_cache
release_config/.pytest_cache
release_config/__pycache__
/release_config/dist/*
